// colors
$white: #fff;
$light-silver: #fafafa;
$medium-silver: #f6f6f6;
$border-gray: #ddd;
$light-gray: #b3b2b2;
$medium-gray: #66615b;
$dark-gray: #46413b;
$darker-gray: #342f29;
$dark: #0d0d0d;
$orange: #ff6536;
$bright-orange: #f5593d;
$orange-red: #f33816;
$forest-green: #168655;
$mud-red: #a7362a;

// font-sizes
$description-text-size: 1rem;
$button-font-size: 12px;
$text-xx-small: 10px;
$text-x-small: 12px;
$text-small: 14px;
// spacings

// z-index;
$main-content-z-index: 3;